{
  "swagger": "2.0",
  "info": {
    "title": "Rendley",
    "description": "AI video editing and generation. Edit projects with the Rendley AI agent, generate speech, images, video and music, transcribe and dub media, upload files, and render MP4 videos.",
    "version": "1.0",
    "contact": {
      "name": "Rendley",
      "url": "https://rendley.com",
      "email": "support@rendley.com"
    }
  },
  "host": "api.rendley.com",
  "basePath": "/v1",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/workspaces": {
      "get": {
        "operationId": "ListWorkspaces",
        "summary": "List workspaces",
        "description": "Lists the workspaces the API key can access.",
        "x-ms-visibility": "important",
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "description": "The workspaces.",
                  "x-ms-summary": "Workspaces",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The workspace identifier.",
                        "x-ms-summary": "Workspace ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The display name.",
                        "x-ms-summary": "Name"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/projects": {
      "get": {
        "operationId": "ListProjects",
        "summary": "List projects",
        "description": "Lists the projects in a workspace.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "workspace_id",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The workspace to list. Defaults to the first workspace.",
            "x-ms-summary": "Workspace",
            "x-ms-dynamic-values": {
              "operationId": "ListWorkspaces",
              "value-path": "id",
              "value-title": "name",
              "value-collection": "data"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "description": "The projects.",
                  "x-ms-summary": "Projects",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The project identifier.",
                        "x-ms-summary": "Project ID"
                      },
                      "workspace_id": {
                        "type": "string",
                        "description": "The workspace the project belongs to.",
                        "x-ms-summary": "Workspace ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The project name.",
                        "x-ms-summary": "Name"
                      },
                      "thumbnail_url": {
                        "type": "string",
                        "description": "A thumbnail of the project.",
                        "x-ms-summary": "Thumbnail URL"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "When the project was created.",
                        "x-ms-summary": "Created At",
                        "format": "date-time"
                      },
                      "updated_at": {
                        "type": "string",
                        "description": "When the project was last updated.",
                        "x-ms-summary": "Updated At",
                        "format": "date-time"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "CreateProject",
        "summary": "Create project",
        "description": "Creates a new project, optionally from a template.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "The project to create.",
            "schema": {
              "type": "object",
              "required": [
                "name"
              ],
              "properties": {
                "name": {
                  "type": "string",
                  "description": "The project name.",
                  "x-ms-summary": "Name"
                },
                "workspace_id": {
                  "type": "string",
                  "description": "The workspace to create the project in. Defaults to the first workspace.",
                  "x-ms-summary": "Workspace",
                  "x-ms-dynamic-values": {
                    "operationId": "ListWorkspaces",
                    "value-path": "id",
                    "value-title": "name",
                    "value-collection": "data"
                  }
                },
                "template_id": {
                  "type": "string",
                  "description": "An optional template to start from.",
                  "x-ms-summary": "Template ID",
                  "x-ms-visibility": "advanced"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The project identifier.",
                      "x-ms-summary": "Project ID"
                    },
                    "workspace_id": {
                      "type": "string",
                      "description": "The workspace the project belongs to.",
                      "x-ms-summary": "Workspace ID"
                    },
                    "name": {
                      "type": "string",
                      "description": "The project name.",
                      "x-ms-summary": "Name"
                    },
                    "thumbnail_url": {
                      "type": "string",
                      "description": "A thumbnail of the project.",
                      "x-ms-summary": "Thumbnail URL"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "When the project was created.",
                      "x-ms-summary": "Created At",
                      "format": "date-time"
                    },
                    "updated_at": {
                      "type": "string",
                      "description": "When the project was last updated.",
                      "x-ms-summary": "Updated At",
                      "format": "date-time"
                    }
                  },
                  "description": "The project.",
                  "x-ms-summary": "Project"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}": {
      "get": {
        "operationId": "GetProject",
        "summary": "Get project",
        "description": "Gets a project by its identifier.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The project identifier.",
            "x-ms-summary": "Project",
            "x-ms-dynamic-values": {
              "operationId": "ListProjects",
              "value-path": "id",
              "value-title": "name",
              "value-collection": "data"
            },
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The project identifier.",
                      "x-ms-summary": "Project ID"
                    },
                    "workspace_id": {
                      "type": "string",
                      "description": "The workspace the project belongs to.",
                      "x-ms-summary": "Workspace ID"
                    },
                    "name": {
                      "type": "string",
                      "description": "The project name.",
                      "x-ms-summary": "Name"
                    },
                    "thumbnail_url": {
                      "type": "string",
                      "description": "A thumbnail of the project.",
                      "x-ms-summary": "Thumbnail URL"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "When the project was created.",
                      "x-ms-summary": "Created At",
                      "format": "date-time"
                    },
                    "updated_at": {
                      "type": "string",
                      "description": "When the project was last updated.",
                      "x-ms-summary": "Updated At",
                      "format": "date-time"
                    }
                  },
                  "description": "The project.",
                  "x-ms-summary": "Project"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "DeleteProject",
        "summary": "Delete project",
        "description": "Deletes a project.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The project identifier.",
            "x-ms-summary": "Project",
            "x-ms-dynamic-values": {
              "operationId": "ListProjects",
              "value-path": "id",
              "value-title": "name",
              "value-collection": "data"
            },
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "description": "Empty on success.",
                  "x-ms-summary": "Result",
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/uploads/import": {
      "post": {
        "operationId": "UploadMediaFromUrl",
        "summary": "Upload media from URL",
        "description": "Adds a file from a public URL to the media library of the project. Rendley fetches the file itself.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The project identifier.",
            "x-ms-summary": "Project",
            "x-ms-dynamic-values": {
              "operationId": "ListProjects",
              "value-path": "id",
              "value-title": "name",
              "value-collection": "data"
            },
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "The file to import.",
            "schema": {
              "type": "object",
              "required": [
                "download_url"
              ],
              "properties": {
                "download_url": {
                  "type": "string",
                  "description": "A publicly reachable URL of the video, audio or image.",
                  "x-ms-summary": "File URL"
                },
                "file_name": {
                  "type": "string",
                  "description": "An optional name for the project library.",
                  "x-ms-summary": "File Name"
                },
                "role": {
                  "type": "string",
                  "description": "Leave at pending.",
                  "x-ms-summary": "Role",
                  "x-ms-visibility": "internal",
                  "default": "pending"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "media_id": {
                      "type": "string",
                      "description": "The media identifier, usable as the source of AI actions.",
                      "x-ms-summary": "Media ID"
                    },
                    "file_hash": {
                      "type": "string",
                      "description": "The file hash, also usable as the source of AI actions.",
                      "x-ms-summary": "File Hash"
                    },
                    "storage_url": {
                      "type": "string",
                      "description": "A signed download URL that expires after a few hours.",
                      "x-ms-summary": "Download URL"
                    },
                    "status": {
                      "type": "string",
                      "description": "The upload status.",
                      "x-ms-summary": "Status"
                    },
                    "mime_type": {
                      "type": "string",
                      "description": "The MIME type of the file.",
                      "x-ms-summary": "MIME Type"
                    },
                    "original_file_name": {
                      "type": "string",
                      "description": "The file name in the project library.",
                      "x-ms-summary": "File Name"
                    },
                    "duration": {
                      "type": "number",
                      "description": "The duration in seconds for audio and video.",
                      "x-ms-summary": "Duration"
                    }
                  },
                  "description": "The upload.",
                  "x-ms-summary": "Upload"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/uploads": {
      "get": {
        "operationId": "GetMediaUrl",
        "summary": "Get media download URL",
        "description": "Gets a fresh signed download URL for a file by media ID or file hash.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The project identifier.",
            "x-ms-summary": "Project",
            "x-ms-dynamic-values": {
              "operationId": "ListProjects",
              "value-path": "id",
              "value-title": "name",
              "value-collection": "data"
            },
            "x-ms-url-encoding": "single"
          },
          {
            "name": "media_id",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The media identifier. Leave empty to look up by file hash.",
            "x-ms-summary": "Media ID"
          },
          {
            "name": "hash",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The file hash, used when the media ID is empty.",
            "x-ms-summary": "File Hash"
          }
        ],
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "media_id": {
                      "type": "string",
                      "description": "The media identifier, usable as the source of AI actions.",
                      "x-ms-summary": "Media ID"
                    },
                    "file_hash": {
                      "type": "string",
                      "description": "The file hash, also usable as the source of AI actions.",
                      "x-ms-summary": "File Hash"
                    },
                    "storage_url": {
                      "type": "string",
                      "description": "A signed download URL that expires after a few hours.",
                      "x-ms-summary": "Download URL"
                    },
                    "status": {
                      "type": "string",
                      "description": "The upload status.",
                      "x-ms-summary": "Status"
                    },
                    "mime_type": {
                      "type": "string",
                      "description": "The MIME type of the file.",
                      "x-ms-summary": "MIME Type"
                    },
                    "original_file_name": {
                      "type": "string",
                      "description": "The file name in the project library.",
                      "x-ms-summary": "File Name"
                    },
                    "duration": {
                      "type": "number",
                      "description": "The duration in seconds for audio and video.",
                      "x-ms-summary": "Duration"
                    }
                  },
                  "description": "The upload.",
                  "x-ms-summary": "Upload"
                }
              }
            }
          }
        }
      }
    },
    "/ai/{action}": {
      "post": {
        "operationId": "RunAiAction",
        "summary": "Run AI action",
        "description": "Starts an AI action such as text to speech, image or video generation, transcription or dubbing. Returns a job identifier to follow with Get job.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "action",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": [
              "transcribe",
              "text-to-speech",
              "video-translate",
              "lipsync",
              "voice-isolation",
              "voice-changer",
              "remove-video-background",
              "remove-image-background",
              "upscale-image",
              "generate-image",
              "generate-video",
              "generate-music",
              "generate-sound-effect"
            ],
            "description": "The AI action to run.",
            "x-ms-summary": "Action",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "The action request.",
            "schema": {
              "type": "object",
              "required": [
                "project_id",
                "params"
              ],
              "properties": {
                "project_id": {
                  "type": "string",
                  "description": "The project the media is stored in.",
                  "x-ms-summary": "Project",
                  "x-ms-dynamic-values": {
                    "operationId": "ListProjects",
                    "value-path": "id",
                    "value-title": "name",
                    "value-collection": "data"
                  }
                },
                "model_id": {
                  "type": "string",
                  "description": "An optional model for this action, for example kling-v2.6. Leave empty for the default model.",
                  "x-ms-summary": "Model ID",
                  "x-ms-visibility": "advanced"
                },
                "params": {
                  "type": "object",
                  "description": "The model parameters as JSON. File inputs go in media as a public URL, media ID or file hash. Lip sync uses video_media and audio_media. Prompts go in prompt.",
                  "x-ms-summary": "Parameters",
                  "properties": {},
                  "additionalProperties": true
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "job_id": {
                      "type": "string",
                      "description": "The job identifier to follow with Get job.",
                      "x-ms-summary": "Job ID"
                    }
                  },
                  "description": "The job.",
                  "x-ms-summary": "Job"
                }
              }
            }
          }
        }
      }
    },
    "/ai/{action}/cost": {
      "post": {
        "operationId": "EstimateAiActionCost",
        "summary": "Estimate AI action cost",
        "description": "Estimates how many credits an AI action would consume, without running it.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "action",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": [
              "transcribe",
              "text-to-speech",
              "video-translate",
              "lipsync",
              "voice-isolation",
              "voice-changer",
              "remove-video-background",
              "remove-image-background",
              "upscale-image",
              "generate-image",
              "generate-video",
              "generate-music",
              "generate-sound-effect"
            ],
            "description": "The AI action to run.",
            "x-ms-summary": "Action",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "The action request to price.",
            "schema": {
              "type": "object",
              "required": [
                "project_id",
                "params"
              ],
              "properties": {
                "project_id": {
                  "type": "string",
                  "description": "The project the media is stored in.",
                  "x-ms-summary": "Project",
                  "x-ms-dynamic-values": {
                    "operationId": "ListProjects",
                    "value-path": "id",
                    "value-title": "name",
                    "value-collection": "data"
                  }
                },
                "model_id": {
                  "type": "string",
                  "description": "An optional model for this action, for example kling-v2.6. Leave empty for the default model.",
                  "x-ms-summary": "Model ID",
                  "x-ms-visibility": "advanced"
                },
                "params": {
                  "type": "object",
                  "description": "The model parameters as JSON. File inputs go in media as a public URL, media ID or file hash. Lip sync uses video_media and audio_media. Prompts go in prompt.",
                  "x-ms-summary": "Parameters",
                  "properties": {},
                  "additionalProperties": true
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "integer",
                  "description": "The estimated credits.",
                  "x-ms-summary": "Credits"
                }
              }
            }
          }
        }
      }
    },
    "/ai/text-to-speech/voices": {
      "get": {
        "operationId": "ListVoices",
        "summary": "List voices",
        "description": "Lists the text to speech voices.",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The page size.",
            "x-ms-summary": "Limit",
            "default": 100
          }
        ],
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "description": "The voices.",
                  "x-ms-summary": "Voices",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The voice identifier.",
                        "x-ms-summary": "Voice ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The display name.",
                        "x-ms-summary": "Name"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/ai/video-translate/languages": {
      "get": {
        "operationId": "ListDubbingLanguages",
        "summary": "List dubbing languages",
        "description": "Lists the languages a video can be dubbed into.",
        "x-ms-visibility": "advanced",
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "description": "The languages.",
                  "x-ms-summary": "Languages",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The language code.",
                        "x-ms-summary": "Language Code"
                      },
                      "name": {
                        "type": "string",
                        "description": "The display name.",
                        "x-ms-summary": "Name"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/export": {
      "post": {
        "operationId": "RenderVideo",
        "summary": "Render video",
        "description": "Renders a project to an MP4 video. Returns a job identifier to follow with Get job. Requires a paid Rendley plan.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "The render request.",
            "schema": {
              "type": "object",
              "required": [
                "project_id"
              ],
              "properties": {
                "project_id": {
                  "type": "string",
                  "description": "The project the media is stored in.",
                  "x-ms-summary": "Project",
                  "x-ms-dynamic-values": {
                    "operationId": "ListProjects",
                    "value-path": "id",
                    "value-title": "name",
                    "value-collection": "data"
                  }
                },
                "settings": {
                  "type": "object",
                  "description": "The render settings.",
                  "x-ms-summary": "Settings",
                  "properties": {
                    "codec": {
                      "type": "string",
                      "description": "The video codec. Defaults to h264.",
                      "x-ms-summary": "Codec",
                      "enum": [
                        "h264",
                        "vp8"
                      ]
                    },
                    "target_resolution": {
                      "type": "string",
                      "description": "The output resolution. Defaults to 1080p.",
                      "x-ms-summary": "Resolution",
                      "enum": [
                        "720p",
                        "1080p",
                        "4K"
                      ]
                    },
                    "quality": {
                      "type": "string",
                      "description": "The encoding quality. Defaults to high.",
                      "x-ms-summary": "Quality",
                      "enum": [
                        "high",
                        "medium",
                        "low"
                      ]
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "job_id": {
                      "type": "string",
                      "description": "The render job identifier.",
                      "x-ms-summary": "Job ID"
                    }
                  },
                  "description": "The job.",
                  "x-ms-summary": "Job"
                }
              }
            }
          }
        }
      }
    },
    "/export/cost": {
      "post": {
        "operationId": "EstimateRenderCost",
        "summary": "Estimate render cost",
        "description": "Estimates how many credits a render would consume.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "The render request to price.",
            "schema": {
              "type": "object",
              "required": [
                "project_id"
              ],
              "properties": {
                "project_id": {
                  "type": "string",
                  "description": "The project the media is stored in.",
                  "x-ms-summary": "Project",
                  "x-ms-dynamic-values": {
                    "operationId": "ListProjects",
                    "value-path": "id",
                    "value-title": "name",
                    "value-collection": "data"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "credits": {
                      "type": "integer",
                      "description": "The estimated credits.",
                      "x-ms-summary": "Credits"
                    }
                  },
                  "description": "The estimate.",
                  "x-ms-summary": "Estimate"
                }
              }
            }
          }
        }
      }
    },
    "/jobs/{jobId}": {
      "get": {
        "operationId": "GetJob",
        "summary": "Get job",
        "description": "Gets the status of an AI action or render job and, once complete, a fresh download URL.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The job identifier.",
            "x-ms-summary": "Job ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The job identifier.",
                      "x-ms-summary": "Job ID"
                    },
                    "type": {
                      "type": "string",
                      "description": "The job type, for example generate_video or export_video.",
                      "x-ms-summary": "Job Type"
                    },
                    "status": {
                      "type": "string",
                      "description": "One of queued, processing, completed, failed or canceled.",
                      "x-ms-summary": "Status"
                    },
                    "result_data": {
                      "type": "string",
                      "description": "The result as a JSON string. For transcriptions it holds the transcript.",
                      "x-ms-summary": "Result Data"
                    },
                    "error": {
                      "type": "string",
                      "description": "Why the job failed, when it did.",
                      "x-ms-summary": "Error"
                    },
                    "source_id": {
                      "type": "string",
                      "description": "The project the job ran in.",
                      "x-ms-summary": "Project ID"
                    },
                    "output": {
                      "type": "object",
                      "description": "The produced file, present once the job is completed.",
                      "x-ms-summary": "Output",
                      "properties": {
                        "media_id": {
                          "type": "string",
                          "description": "The media identifier of the produced file.",
                          "x-ms-summary": "Media ID"
                        },
                        "file_hash": {
                          "type": "string",
                          "description": "The file hash of the produced file.",
                          "x-ms-summary": "File Hash"
                        },
                        "mime_type": {
                          "type": "string",
                          "description": "The MIME type of the produced file.",
                          "x-ms-summary": "MIME Type"
                        },
                        "size": {
                          "type": "integer",
                          "description": "The file size in bytes.",
                          "x-ms-summary": "Size",
                          "format": "int64"
                        },
                        "duration": {
                          "type": "number",
                          "description": "The duration in seconds for audio and video.",
                          "x-ms-summary": "Duration"
                        },
                        "url": {
                          "type": "string",
                          "description": "A signed download URL that expires after a few hours.",
                          "x-ms-summary": "Download URL"
                        },
                        "url_expires_at": {
                          "type": "string",
                          "description": "When the download URL expires.",
                          "x-ms-summary": "Download URL Expires At",
                          "format": "date-time"
                        }
                      }
                    }
                  },
                  "description": "The job.",
                  "x-ms-summary": "Job"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "CancelJob",
        "summary": "Cancel job",
        "description": "Cancels a queued or running AI action or render job.",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The job identifier.",
            "x-ms-summary": "Job ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "description": "Empty on success.",
                  "x-ms-summary": "Result",
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/agent": {
      "post": {
        "operationId": "EditVideoWithAiAgent",
        "summary": "Edit video with AI agent",
        "description": "Sends a prompt to the Rendley AI agent, which creates or edits a video project. Returns an agent job identifier to follow with Get agent job. Requires a paid Rendley plan.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "The agent request.",
            "schema": {
              "type": "object",
              "required": [
                "prompt"
              ],
              "properties": {
                "prompt": {
                  "type": "string",
                  "description": "What the agent should create or change.",
                  "x-ms-summary": "Prompt"
                },
                "project_id": {
                  "type": "string",
                  "description": "An existing project to edit. Leave empty to let the agent create one.",
                  "x-ms-summary": "Project",
                  "x-ms-dynamic-values": {
                    "operationId": "ListProjects",
                    "value-path": "id",
                    "value-title": "name",
                    "value-collection": "data"
                  }
                },
                "thread_id": {
                  "type": "string",
                  "description": "Continues a previous agent conversation on the same project.",
                  "x-ms-summary": "Thread ID",
                  "x-ms-visibility": "advanced"
                },
                "files": {
                  "type": "array",
                  "description": "The media for the agent to work with.",
                  "x-ms-summary": "Files",
                  "items": {
                    "type": "object",
                    "properties": {
                      "url": {
                        "type": "string",
                        "description": "A public URL of a clip, image or audio file.",
                        "x-ms-summary": "URL"
                      },
                      "name": {
                        "type": "string",
                        "description": "An optional display name.",
                        "x-ms-summary": "Name"
                      }
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "job_id": {
                      "type": "string",
                      "description": "The agent job identifier.",
                      "x-ms-summary": "Job ID"
                    },
                    "project_id": {
                      "type": "string",
                      "description": "The project the agent works in.",
                      "x-ms-summary": "Project ID"
                    },
                    "thread_id": {
                      "type": "string",
                      "description": "The conversation thread, reusable for follow-up prompts.",
                      "x-ms-summary": "Thread ID"
                    },
                    "status": {
                      "type": "string",
                      "description": "One of pending, running, completed, failed or canceled.",
                      "x-ms-summary": "Status"
                    },
                    "last_message": {
                      "type": "string",
                      "description": "The final message from the agent.",
                      "x-ms-summary": "Agent Message"
                    },
                    "error": {
                      "type": "string",
                      "description": "Why the job failed, when it did.",
                      "x-ms-summary": "Error"
                    },
                    "commands_applied": {
                      "type": "integer",
                      "description": "How many editing commands were applied.",
                      "x-ms-summary": "Commands Applied"
                    },
                    "commands_failed": {
                      "type": "integer",
                      "description": "How many editing commands failed.",
                      "x-ms-summary": "Commands Failed"
                    }
                  },
                  "description": "The agent job.",
                  "x-ms-summary": "Agent job"
                }
              }
            }
          }
        }
      }
    },
    "/agent/jobs/{jobId}": {
      "get": {
        "operationId": "GetAgentJob",
        "summary": "Get agent job",
        "description": "Gets the status and message of an AI agent edit.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The job identifier.",
            "x-ms-summary": "Job ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "job_id": {
                      "type": "string",
                      "description": "The agent job identifier.",
                      "x-ms-summary": "Job ID"
                    },
                    "project_id": {
                      "type": "string",
                      "description": "The project the agent works in.",
                      "x-ms-summary": "Project ID"
                    },
                    "thread_id": {
                      "type": "string",
                      "description": "The conversation thread, reusable for follow-up prompts.",
                      "x-ms-summary": "Thread ID"
                    },
                    "status": {
                      "type": "string",
                      "description": "One of pending, running, completed, failed or canceled.",
                      "x-ms-summary": "Status"
                    },
                    "last_message": {
                      "type": "string",
                      "description": "The final message from the agent.",
                      "x-ms-summary": "Agent Message"
                    },
                    "error": {
                      "type": "string",
                      "description": "Why the job failed, when it did.",
                      "x-ms-summary": "Error"
                    },
                    "commands_applied": {
                      "type": "integer",
                      "description": "How many editing commands were applied.",
                      "x-ms-summary": "Commands Applied"
                    },
                    "commands_failed": {
                      "type": "integer",
                      "description": "How many editing commands failed.",
                      "x-ms-summary": "Commands Failed"
                    }
                  },
                  "description": "The agent job.",
                  "x-ms-summary": "Agent job"
                }
              }
            }
          }
        }
      }
    },
    "/agent/jobs/{jobId}/cancel": {
      "post": {
        "operationId": "CancelAgentJob",
        "summary": "Cancel agent job",
        "description": "Stops a running AI agent edit.",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The job identifier.",
            "x-ms-summary": "Job ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "job_id": {
                      "type": "string",
                      "description": "The agent job identifier.",
                      "x-ms-summary": "Job ID"
                    },
                    "project_id": {
                      "type": "string",
                      "description": "The project the agent works in.",
                      "x-ms-summary": "Project ID"
                    },
                    "thread_id": {
                      "type": "string",
                      "description": "The conversation thread, reusable for follow-up prompts.",
                      "x-ms-summary": "Thread ID"
                    },
                    "status": {
                      "type": "string",
                      "description": "One of pending, running, completed, failed or canceled.",
                      "x-ms-summary": "Status"
                    },
                    "last_message": {
                      "type": "string",
                      "description": "The final message from the agent.",
                      "x-ms-summary": "Agent Message"
                    },
                    "error": {
                      "type": "string",
                      "description": "Why the job failed, when it did.",
                      "x-ms-summary": "Error"
                    },
                    "commands_applied": {
                      "type": "integer",
                      "description": "How many editing commands were applied.",
                      "x-ms-summary": "Commands Applied"
                    },
                    "commands_failed": {
                      "type": "integer",
                      "description": "How many editing commands failed.",
                      "x-ms-summary": "Commands Failed"
                    }
                  },
                  "description": "The agent job.",
                  "x-ms-summary": "Agent job"
                }
              }
            }
          }
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "api_key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://rendley.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://rendley.com/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI;Content and Files"
    }
  ]
}
